.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625em 1.5em;
  opacity: .8;
  cursor: pointer;
  transition: 0.25s;
  user-select: none;
}

.navicon-button .navicon:before, 
.navicon-button .navicon:after {
  transition: 0.25s;
}

.navicon-button:hover {
  opacity: 1;
  transition: 0.5s;
}

.navicon {
  display: block;
  position: relative;
  width: 2.5em;
  height: 0.3125em;
  background: #E7E6DD;
  transition: 0.5s;
  border-radius: 2.5em;
}

.navicon:before,
.navicon:after {
  display: block;
  content: " ";
  height: 0.3125em;
  width: 2.5em;
  background: #E7E6DD;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  transition: 0.5s 0.25s;
}

.navicon:before {
  top: 0.625em;
}

.navicon:after {
  top: -0.625em;
}

.navicon-button:hover .navicon:before,
.navicon-button:hover .navicon:after {
  transition: 0.25s;
}

.navicon-button:hover .navicon:before {
  top: 0.825em;
}

.navicon-button:hover .navicon:after {
  top: -0.825em;
}

.open .navicon:before,
.open .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: 0.5s;
}

/* Minus */
.open {
  transform: scale(0.75);
}

/* Arrows */
.open.larr .navicon:before, .open.larr .navicon:after,
.open.rarr .navicon:before,
.open.rarr .navicon:after,
.open.uarr .navicon:before,
.open.uarr .navicon:after {
  width: 1.5em;
}
.open.larr .navicon:before,
.open.rarr .navicon:before,
.open.uarr .navicon:before {
  transform: rotate(35deg);
  transform-origin: left top;
}
.open.larr .navicon:after,
.open.rarr .navicon:after,
.open.uarr .navicon:after {
  transform: rotate(-35deg);
  transform-origin: left bottom;
}

.open.uarr {
  transform: scale(0.75) rotate(90deg);
}

/* Arrows */
.open.rarr .navicon:before {
  transform: translate(1em, 0) rotate(-35deg);
  transform-origin: right top;
}
.open.rarr .navicon:after {
  transform: translate(1em, 0) rotate(35deg);
  transform-origin: right bottom;
}

/* × and + */
.open.plus .navicon,
.open.x .navicon {
  background: transparent;
}
.open.plus .navicon:before,
.open.x .navicon:before {
  transform: rotate(-45deg);
}
.open.plus .navicon:after,
.open.x .navicon:after {
  transform: rotate(45deg);
}

.open.plus {
  transform: scale(0.75) rotate(45deg);
}